@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-weight: 700;
  color: #242321;
  line-height: 1.1;
  letter-spacing: 0.6px;
}

/*
 * Sizes
 */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 16px;
  line-height: 1.1;
}

h6 {
  font-size: 0.875rem;
  line-height: 1.1;
}

p {
  margin-top: 0;
  font-weight: 400;
  color: #242321;
}

/* Tablet landscape and bigger */
@media (max-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  h4 {
    font-size: 0.9rem;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  h4 {
    font-size: 0.7rem;
  }
  p {
    font-size: 0.6rem;
  }
}
html {
  font-size: 16px;
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fdfdfd;
  overflow-x: hidden;
}

ul li {
  list-style: none;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    width: 85%;
  }
}
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .container {
    width: 95%;
  }
}

header {
  position: relative;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.999);
}

.alert {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #242321;
}
.alert p {
  color: rgba(252, 235, 79, 0.7803921569);
  font-size: 0.9rem;
}
@media (max-width: 500px) {
  .alert p {
    font-size: 0.6rem;
  }
}
.alert .uk-alert-close {
  background-color: transparent;
  transform: translateY(-50%);
  color: rgba(252, 235, 79, 0.7803921569);
  cursor: pointer;
}

#check-bar {
  display: none;
}

.close-btn {
  cursor: pointer;
  display: none;
}
@media (max-width: 1024px) {
  .close-btn {
    color: #0088CF;
    font-size: 1.2rem;
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 10;
  }
}

.head__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.head__top-logo {
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}
.head__top-logo div {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.head__top-logo div p {
  font-weight: 700;
}
.head__top-logo div span {
  font-size: 0.8rem;
  color: #989898;
}
@media (max-width: 500px) {
  .head__top-logo img {
    width: 95px;
    height: 82px;
  }
  .head__top-logo div p {
    font-size: 0.7rem;
  }
  .head__top-logo div span {
    font-size: 0.6rem;
  }
}
@media (max-width: 400px) {
  .head__top-logo img {
    width: 75px;
    height: 62px;
  }
  .head__top-logo div p {
    font-size: 0.6rem;
  }
  .head__top-logo div span {
    font-size: 0.6rem;
  }
}
.head__top-location {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-right: 38px;
  position: relative;
}
.head__top-location p {
  font-size: 0.8rem;
}
.head__top-location a {
  color: #989898;
  font-size: 0.8rem;
  transition: 0.3s;
  text-decoration: underline;
}
.head__top-location a:hover {
  opacity: 0.8;
}
@media (max-width: 1024px) {
  .head__top-location {
    display: none;
  }
}
.head__top-phone {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.head__top-phone a {
  display: block;
  font-size: 1.1rem;
  font-weight: 800;
}
.head__top-phone a:nth-child(2) {
  font-weight: 400;
  color: #989898;
  font-size: 0.8rem;
  transition: 0.3s;
  text-decoration: underline;
}
.head__top-phone a:nth-child(2):hover {
  opacity: 0.8;
}
@media (max-width: 1024px) {
  .head__top-phone {
    margin-right: 15px;
  }
  .head__top-phone div {
    display: none;
  }
}
.head__top .bar {
  display: none;
  cursor: pointer;
  color: #000;
}
.head__top .user {
  display: none;
}
@media (max-width: 1024px) {
  .head__top .bar {
    display: block;
  }
  .head__top .user {
    margin-right: 15px;
    display: block;
  }
}

.head__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9vh;
  background-color: #F5F5F9;
}
.head__menu-item {
  text-align: right;
  font-size: 0.8rem;
  padding: 9px 4px;
}
.head__menu-item:hover {
  color: rgba(0, 0, 0, 0.721);
}
.head__menu-item:nth-child(8) .head__top-location {
  display: none;
}
.head__menu-item:nth-child(9) .head__top-phone img {
  display: none;
}
.head__menu-item:nth-child(9) .head__top-phone div {
  display: none;
}
.head__menu-item a {
  display: flex;
  align-items: center;
}
.head__menu-item:hover small {
  transform: rotate(90deg);
  transition: 0.1s;
}
.head__menu-item small {
  margin-left: 20px;
  font-size: 1rem;
  float: right;
  transform: rotate(0deg);
  font-weight: 500;
  color: #242321;
}
.head__menu-item:first-child, .head__menu-item:nth-child(2), .head__menu-item:nth-child(5) {
  position: relative;
}
.head__menu-item:first-child span, .head__menu-item:nth-child(2) span, .head__menu-item:nth-child(5) span {
  display: flex;
}
.head__menu-item:first-child:hover .options, .head__menu-item:nth-child(2):hover .options, .head__menu-item:nth-child(5):hover .options {
  display: flex;
}
.head__menu-item:first-child .options, .head__menu-item:nth-child(2) .options, .head__menu-item:nth-child(5) .options {
  text-align: left;
  left: 0;
  top: 100%;
  width: 100%;
  position: absolute;
  display: none;
  flex-direction: column;
  box-shadow: 0px 5px 15px rgba(36, 35, 33, 0.07);
  row-gap: 10px;
  background-color: #F5F5F9;
}
.head__menu-item:first-child .options > a:not(.options > a:first-child), .head__menu-item:nth-child(2) .options > a:not(.options > a:first-child), .head__menu-item:nth-child(5) .options > a:not(.options > a:first-child) {
  padding: 10px 15px;
}
.head__menu-item:first-child .options > a:not(.options > a:first-child):hover, .head__menu-item:nth-child(2) .options > a:not(.options > a:first-child):hover, .head__menu-item:nth-child(5) .options > a:not(.options > a:first-child):hover {
  background-color: #fff;
  color: #000;
}
@media (max-width: 1024px) {
  .head__menu {
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
    padding: 40px 20px;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
  .head__menu-item {
    padding: 20px;
    width: 100%;
  }
  .head__menu-item:hover {
    background-color: #F8F8F8;
  }
  .head__menu-item a {
    justify-content: space-between;
  }
  .head__menu-item .options {
    z-index: 12;
    background-color: #fff;
  }
  .head__menu-item:nth-child(7) {
    border-top: 2px solid #0088CF;
  }
  .head__menu-item:nth-child(7) a {
    justify-content: start;
    column-gap: 5px;
  }
  .head__menu-item:nth-child(8) .head__top-location {
    display: flex;
  }
  .head__menu-item:nth-child(9) .head__top-phone img {
    display: block;
  }
  .head__menu-item:nth-child(9) .head__top-phone div {
    display: block;
  }
}
@media (max-width: 400px) {
  .head__menu {
    padding: 40px 0px;
  }
}

#check-bar:checked ~ .head__menu {
  transform: translateX(0);
}

#check-bar:checked ~ .close-btn {
  display: block;
  position: fixed;
}

.banner1 {
  padding: 80px 0;
  background-color: #F5F5F9;
}
.banner1__title {
  font-weight: 900;
  margin-bottom: 50px;
}
.banner1__box {
  display: flex;
  column-gap: 180px;
}
.banner1__box div {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.banner1__box div p {
  position: relative;
}
.banner1__box div p span {
  color: #0088CF;
}
.banner1__box div p::before {
  content: "";
  left: -35px;
  width: 25px;
  height: 25px;
  position: absolute;
  background: url(/images/icons/checked-icon.png);
}
@media (max-width: 1024px) {
  .banner1__box {
    margin: 0 15%;
    flex-direction: column;
    row-gap: 20px;
  }
  .banner1__title {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .banner1 {
    padding: 40px 0;
  }
}

.banner2 > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
}
.banner2__title {
  font-weight: 900;
  margin-bottom: 60px;
}
.banner2__item {
  width: 31%;
  padding: 48px 120px;
  background-color: #242321;
  border-radius: 5px;
  position: relative;
}
.banner2__item .banner2-img {
  position: absolute;
  left: -35px;
  top: -45px;
}
.banner2__item p {
  color: #fff;
}
@media (max-width: 500px) {
  .banner2 {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .banner2__title {
    font-size: 1.4rem;
    margin-bottom: 40px;
  }
  .banner2__item {
    width: 99%;
  }
}

.banner3 {
  margin-bottom: 100px;
}
.banner3__title {
  margin-bottom: 45px;
  font-weight: 900;
}
.banner3__title span {
  color: #0088CF;
}
.banner3__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 10px 44px 62px;
  background-color: #F5F5F9;
  border: 1px solid #0088CF;
  border-radius: 5px;
}
.banner3__box p {
  position: relative;
  margin-bottom: 20px;
  font-weight: 700;
}
.banner3__box p span {
  color: #0088CF;
}
.banner3__box p::before {
  content: "";
  position: absolute;
  left: -35px;
  width: 25px;
  height: 25px;
  background: url(/images/icons/checked-icon.png) no-repeat;
}
@media (max-width: 1024px) {
  .banner3 {
    margin-top: 50px;
  }
  .banner3__box {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 15px;
  }
}

.rent {
  padding: 26px 0 75px;
}
.rent > div > p {
  color: 989898;
  font-size: 0.8rem;
  margin-bottom: 25px;
}
.rent__banner {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/rant-car.jpg) no-repeat 100% 100%;
  padding: 43px 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rent__banner h2 {
  color: #fff;
}
.rent__banner div {
  width: 45%;
  padding: 25px 29px;
  background-color: #0088CF;
}
.rent__banner div p {
  color: #fff;
}
@media (max-width: 1024px) {
  .rent__banner {
    flex-direction: column;
    row-gap: 30px;
  }
  .rent__banner > div {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .rent__banner {
    padding: 15px 10px;
  }
  .rent__banner > div {
    width: 95%;
  }
}

.banner4 {
  padding: 35px 26px 52px 45px;
  background-color: #F5F5F9;
  border: 1px solid #0088CF;
  border-radius: 5px;
}
.banner4__title {
  margin-bottom: 34px;
}
.banner4__title span {
  color: #0088CF;
}
.banner4__box {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.banner4__box p:first-child {
  width: 30%;
}
.banner4__box p:nth-child(2) {
  width: 60%;
}
.banner4__box p span {
  color: #0088CF;
}
@media (max-width: 1024px) {
  .banner4__title {
    text-align: center;
  }
  .banner4__box {
    flex-direction: column;
    row-gap: 20px;
  }
}

.banner5 {
  margin-top: 50px;
  padding: 39px 46px 49px 52px;
  background-color: #F5F5F9;
  border: 1px solid #0088CF;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.banner5 .only {
  position: absolute;
  top: -15px;
  left: 58px;
  padding: 10px 40px;
  background-color: #0088CF;
  border-radius: 5px;
  text-align: center;
  color: #fff;
}
.banner5__item {
  width: 45%;
}
.banner5__item-headline {
  font-weight: 700;
  margin-bottom: 7px;
  font-size: 1.1rem;
  position: relative;
}
.banner5__item-headline::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: -35px;
  background: url(/images/icons/checked-icon.png) no-repeat;
}
.banner5__item p {
  font-size: 0.8em;
}
@media (max-width: 1024px) {
  .banner5 {
    flex-direction: column;
    row-gap: 20px;
  }
  .banner5__item {
    width: 100%;
  }
}

.b5-second .banner5__item {
  width: 80%;
}
@media (max-width: 500px) {
  .b5-second {
    padding: 10px 8px;
  }
  .b5-second .banner5__item {
    margin-left: 35px;
    width: 80%;
  }
}

.container .page-name {
  color: #989898;
  font-size: 0.8rem;
  margin-top: 26px;
}

.banner6 {
  margin-top: 25px;
  background-color: #0088CF;
  padding: 33px 30px 38px 30px;
  display: flex;
  column-gap: 25px;
  position: relative;
}
.banner6 img {
  position: absolute;
  left: 5px;
  top: 10px;
}
.banner6 a {
  position: absolute;
  top: 30px;
  right: 15px;
  color: #fff;
}
.banner6__btn {
  position: relative;
  z-index: 4;
  width: 150px;
  height: 43px !important;
  padding: 5px 15px !important;
  border-radius: 5px;
  background-color: #FCEC4F;
  border: 1px solid #FCEC4F;
  color: #242321;
}
.banner6__btn hover {
  background-color: #FCEC4F;
  color: #000;
  opacity: 0.8;
}
.banner6__texts h3 {
  color: #fff;
  margin-bottom: 10px;
}
.banner6__texts p {
  line-height: 26px;
  font-size: 0.8rem;
  color: #fff;
}
@media (max-width: 1024px) {
  .banner6 {
    flex-direction: column;
    row-gap: 20px;
  }
}

.contact {
  padding: 55px 0;
  background-color: #F5F5F9;
}
.contact > div {
  display: flex;
  justify-content: space-around;
}
.contact__left-title {
  font-weight: 900;
  margin-bottom: 30px;
}
.contact__left-title span {
  color: #0088CF;
}
.contact__left-dsc {
  margin-bottom: 11px;
  font-weight: 400;
  line-height: 28px;
  width: 400px;
  margin-bottom: 30px;
}
.contact__left-dsc span {
  font-weight: 700;
}
.contact__left a {
  font-weight: 700;
  font-size: 1.3rem;
  color: #0088CF;
  transition: 0.3s;
}
.contact__left a:hover {
  opacity: 0.8;
}
.contact__right {
  width: 520px;
}
.contact__right input:not(input[type=checkbox]) {
  width: 100%;
  background: rgba(255, 255, 255, 0.62);
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  padding: 16px 28px;
  margin-bottom: 29px;
}
.contact__right div {
  display: flex;
  justify-content: space-between;
}
.contact__right div .contact-btn {
  padding: 15px 40px;
  background-color: #0088CF;
  border: 1px solid #0088CF;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: 0.3s;
  width: 300px;
}
.contact__right div .contact-btn:hover {
  background-color: transparent;
  color: #0088CF;
}
@media (max-width: 1024px) {
  .contact {
    padding: 45px 0;
  }
  .contact > div {
    flex-direction: column;
    row-gap: 40px;
  }
  .contact__left-title {
    text-align: center;
  }
  .contact__left-dsc {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
  .contact__left a {
    display: block;
    width: 200px;
    margin: 20px auto 0;
  }
  .contact__right {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) and (max-width: 500px) {
  .contact__right form div {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
  .contact__right form div .contact-btn {
    width: 100%;
  }
}

.contact.contact2 {
  background-color: transparent;
  padding: 0;
  margin-bottom: 100px;
}
.contact.contact2 > div {
  padding: 55px 0;
  background-color: #F5F5F9;
}
@media (max-width: 500px) {
  .contact.contact2 {
    margin-bottom: 50px;
  }
}

.steps {
  padding: 75px 0;
  background-color: #F5F5F9;
}
.steps__title {
  margin-bottom: 15px;
  font-weight: 900;
}
.steps__title span {
  color: #0088CF;
}
.steps__subtitle {
  font-weight: 500;
  margin-bottom: 42px;
}
.steps__list {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.steps__list-item {
  width: 24%;
}
.steps__list-item h4 {
  margin-left: 30px;
  margin-bottom: 25px;
  font-weight: 900;
  position: relative;
}
.steps__list-item h4::before {
  position: absolute;
  content: "1.";
  left: -29px;
  top: -20px;
  padding-top: 20px;
  padding-left: 10px;
  display: inline-block;
  width: 58px;
  height: 58px;
  background: rgba(0, 136, 207, 0.15);
  border-radius: 3px;
}
.steps__list-item .step1::before {
  content: "1.";
}
.steps__list-item .step2::before {
  content: "2.";
}
.steps__list-item .step3::before {
  content: "3.";
}
.steps__list-item .step4::before {
  content: "4.";
}
.steps__list-item p {
  line-height: 27px;
}
.steps__list-item p span {
  font-size: 1.4rem;
  font-weight: 700;
}
.steps__btn {
  padding: 15px 40px;
  background-color: #0088CF;
  border: 1px solid #0088CF;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: 0.3s;
  margin-top: 30px;
}
.steps__btn:hover {
  background-color: transparent;
  color: #0088CF;
}
@media (max-width: 1024px) {
  .steps__list {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .steps__list-item {
    width: 45%;
  }
}
@media (max-width: 500px) {
  .steps__title {
    text-align: center;
  }
  .steps__subtitle {
    text-align: center;
  }
  .steps__list {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .steps__list-item {
    width: 95%;
  }
  .steps__btn {
    width: 100%;
  }
}

.buy-now {
  padding: 81px 0;
  background-color: #F5F5F9;
  position: relative;
}
.buy-now img {
  position: absolute;
  right: 20px;
  top: 20px;
}
.buy-now__title {
  margin-bottom: 28px;
}
.buy-now__title span {
  color: #0088CF;
}
.buy-now__dsc {
  margin-bottom: 48px;
  line-height: 27px;
  width: 70%;
}
.buy-now__headline {
  margin-bottom: 8px;
}
.buy-now__text {
  color: #989898;
  margin-bottom: 40px;
}
.buy-now__box {
  display: flex;
  column-gap: 17px;
}
.buy-now__box-item {
  border: 1px solid #0088CF;
  background-color: #fff;
  padding: 57px 20px;
  width: 224px;
}
.buy-now__box-item p {
  text-align: center;
}
.buy-now__box-item p:first-child {
  font-weight: 900;
  margin-bottom: 14px;
}
@media (max-width: 1024px) {
  .buy-now__box {
    flex-wrap: wrap;
    row-gap: 20px;
  }
}
@media (max-width: 500px) {
  .buy-now__box {
    flex-wrap: nowrap;
    flex-direction: column;
    row-gap: 20px;
  }
  .buy-now__box-item {
    width: 90%;
    margin: 0 5%;
  }
}

.ransom {
  padding: 86px 0 60px;
}
.ransom__btn {
  margin-top: 15px;
  padding: 15px 40px;
  background-color: #0088CF;
  border: 1px solid #0088CF;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: 0.3s;
}
.ransom__btn:hover {
  background-color: transparent;
  color: #0088CF;
}
.ransom > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ransom > div div {
  width: 45%;
}
.ransom__title {
  margin-bottom: 22px;
}
.ransom__title span {
  color: #0088CF;
}
@media (max-width: 1024px) {
  .ransom > div {
    flex-direction: column;
    row-gap: 30px;
  }
  .ransom > div div {
    width: 80%;
  }
}
@media (max-width: 1024px) {
  .ransom {
    padding: 50px 0 35px;
  }
  .ransom > div div {
    width: 95%;
  }
}

.next {
  padding: 84px 0 71px;
  position: relative;
}
.next > img {
  position: absolute;
  top: 20px;
  left: 140px;
}
.next__title {
  position: relative;
  z-index: 3;
  margin-bottom: 53px;
  font-weight: 900;
}
.next__box {
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  row-gap: 20px;
  flex-wrap: wrap;
}
.next__box-item {
  width: 25%;
}
.next__box-item p span {
  color: #0088CF;
}
@media (max-width: 500px) {
  .next__box {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .next__box-item {
    width: 99%;
  }
}

.buyback {
  padding: 10px 0 60px;
}
.buyback__title {
  margin-bottom: 35px;
}
.buyback__title span {
  color: #0088CF;
}
.buyback .slider-vdio {
  display: flex;
  align-items: center;
}
.buyback .slider-vdio .slider-text {
  border: 1px solid #0088CF;
  padding: 32px 45px;
  width: 45%;
}
.buyback .slider-vdio .slider-text .slider-name {
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 4px;
}
.buyback .slider-vdio .slider-text p {
  font-size: 0.8rem;
  mix-blend-mode: 5px;
}
.buyback .slider-vdio .slider-text p span {
  color: #0088CF;
}
.buyback .slider-vdio .slider-text p:last-child {
  margin-top: 20px;
}
@media (max-width: 1024px) {
  .buyback .slider-vdio {
    height: 600px;
    flex-direction: column;
    row-gap: 15px;
  }
  .buyback .slider-vdio video {
    width: 100%;
  }
  .buyback .slider-vdio .slider-text {
    width: 80%;
  }
  .buyback .slider-vdio .slider-text p {
    color: #242321 !important;
    position: relative;
    z-index: 9;
  }
}
@media (max-width: 500px) {
  .buyback__title {
    text-align: center;
  }
}

.conditions {
  padding-top: 59px;
}
.conditions__title {
  margin-bottom: 37px;
  width: 70%;
}
.conditions__title span {
  color: #0088CF;
}
.conditions__headline {
  margin-bottom: 7px;
  margin-bottom: 15px;
}
.conditions__dsc {
  width: 70%;
  margin-bottom: 10px;
}
.conditions__list {
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: relative;
  margin-bottom: 35px;
}
.conditions__list-item {
  width: 70%;
}
.conditions__list-item::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: -35px;
  background: url(/images/icons/checked-icon.png) no-repeat;
}
@media (max-width: 1024px) {
  .conditions__title {
    width: 100%;
    text-align: center;
  }
  .conditions__dsc {
    width: 100%;
  }
  .conditions__list-item {
    width: 100%;
  }
}

.options-list {
  overflow-x: hidden;
}
.options-list .table-list {
  overflow-x: scroll;
}
.options-list .t-header {
  background-color: #0088CF;
}
.options-list .t-header th {
  padding: 22px 0;
  text-align: center;
  width: 25%;
  color: #fff;
  font-size: 1rem;
}
@media (max-width: 1024px) {
  .options-list .t-header th {
    min-width: 200px;
  }
}
.options-list th,
.options-list td {
  border-right: 1px solid border #E5E5E5;
}
.options-list .t-odd th {
  width: 25%;
  background-color: #F5F5F9;
  font-size: 1rem;
  font-weight: 700;
  padding-left: 15px;
}
@media (max-width: 1024px) {
  .options-list .t-odd th {
    min-width: 200px;
  }
}
.options-list .t-odd td {
  padding: 20px;
  width: 25%;
  font-size: 0.8rem;
  background-color: #F5F5F9;
}
@media (max-width: 1024px) {
  .options-list .t-odd td {
    min-width: 200px;
  }
}
.options-list .t-even th {
  width: 25%;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding-left: 15px;
}
@media (max-width: 1024px) {
  .options-list .t-even th {
    min-width: 200px;
  }
}
.options-list .t-even td {
  padding: 20px;
  width: 25%;
  font-size: 0.8rem;
  background-color: #fff;
}
@media (max-width: 1024px) {
  .options-list .t-even td {
    min-width: 200px;
  }
}

.payment {
  padding: 12px 0 24px;
  display: flex;
  column-gap: 40px;
  align-items: center;
}
.payment__img {
  min-width: 450px;
  min-height: 400px;
}
.payment__text h4 {
  margin-bottom: 16px;
}
.payment__text h4::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: -35px;
  background: url(/images/icons/checked-icon.png) no-repeat;
}
.payment__text p {
  width: 60%;
  font-size: 0.8rem;
}
.payment__text p span {
  color: #0088CF;
}
@media (max-width: 1024px) {
  .payment {
    flex-direction: column;
    row-gap: 30px;
  }
  .payment__img {
    min-width: 180px;
    min-height: 200px;
    max-width: 260px;
    max-height: 300px;
  }
  .payment__text h4 {
    text-align: center;
  }
  .payment__text p {
    text-align: center;
    width: 100%;
  }
}

.team {
  padding: 80px 0;
}
.team__title {
  margin-bottom: 22px;
  font-weight: 900;
}
.team__dsc {
  font-size: 0.8rem;
  width: 60%;
  margin-bottom: 10px;
}
.team__text {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 36px;
}
.team__members {
  display: flex;
  justify-content: space-between;
  column-gap: 65px;
  align-items: center;
}
.team__members-item {
  width: 32%;
}
.team__members-item div {
  background: url(/images/m-bg.png) no-repeat right top;
}
.team__members-item div img {
  min-height: 310px;
}
.team__members-item h4 {
  margin: 35px 0 10px;
}
.team__members-item p {
  font-size: 0.9rem;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .team__title {
    text-align: center;
  }
  .team__dsc {
    width: 100%;
    text-align: center;
  }
  .team__text {
    text-align: center;
  }
  .team__members {
    flex-direction: column;
    row-gap: 20px;
  }
  .team__members-item {
    width: 62%;
  }
}
@media (max-width: 500px) {
  .team__members {
    flex-direction: column;
    row-gap: 20px;
  }
  .team__members-item {
    width: 92%;
  }
  .team__members-item h4 {
    text-align: center;
  }
  .team__members-item p {
    text-align: center;
  }
}

.contract {
  margin: 46px 0;
}
.contract__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contract__top-btn {
  padding: 15px 40px;
  background-color: #0088CF;
  border: 1px solid #0088CF;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: 0.3s;
}
.contract__top-btn:hover {
  background-color: transparent;
  color: #0088CF;
}
.contract__top div h3 {
  margin-bottom: 17px;
}
.contract__top div p {
  line-height: 28px;
}
@media (max-width: 1024px) {
  .contract__top {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
  .contract__top div {
    text-align: center;
  }
}
.contract__info {
  margin-top: 45px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.contract__info-first h3 {
  margin-bottom: 15px;
}
.contract__info-first p {
  margin-bottom: 8px;
}
.contract__info-second {
  border: 1px solid #0088CF;
  border-radius: 5px;
  padding: 17px 15px 18px 27px;
  background-color: #F5F5F9;
}
.contract__info-third {
  border-left: 1px solid #E5E5E5;
  padding-left: 30px;
}
.contract__info-third p {
  margin-bottom: 12px;
}
.contract__info-third .qr {
  margin-top: 24px;
  padding: 13px;
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.contract__info-third .qr a {
  color: #0088CF;
}
@media (max-width: 1024px) {
  .contract__info {
    flex-direction: column;
    row-gap: 24px;
    align-items: center;
  }
  .contract__info-first, .contract__info-second, .contract__info-third {
    text-align: center;
  }
}

.details__title {
  margin-bottom: 30px;
}
.details__list {
  display: flex;
  column-gap: 40px;
}
.details__list-item {
  width: 31%;
  display: flex;
  flex-direction: column;
  row-gap: 31px;
}
.details__list-item div {
  display: flex;
  justify-content: space-between;
}
.details__list-item:first-child, .details__list-item:nth-child(2) {
  border-right: 1px solid #E5E5E5;
  padding-right: 40px;
}
.details__list-item h4 {
  color: #0088CF;
}
.details__list-item p {
  line-height: 27px;
}
.details__list-item input {
  width: 150px;
  padding: 17px 31px;
  background-color: #F5F5F9;
  border: 1px solid #0088CF;
  border-radius: 3px;
}
.details__list-item input::placeholder {
  color: #989898;
}
@media (max-width: 1024px) {
  .details__list {
    flex-direction: column;
    row-gap: 30px;
  }
  .details__list-item {
    justify-content: center;
    width: 80%;
  }
  .details__list-item:first-child, .details__list-item:nth-child(2) {
    padding-right: 0;
    border-right: none;
  }
}
@media (max-width: 500px) {
  .details__list-item {
    width: 98%;
  }
}

.bank {
  padding: 80px 0;
}
.bank__title {
  margin-bottom: 40px;
}

.table-head {
  background-color: #0088CF;
}
.table-head th {
  padding: 17px 23px;
  color: #fff;
}

td {
  background-color: #E5E5E5;
  color: #242321;
  padding: 17px 23px;
}

footer {
  padding-top: 70px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}
.footer-top__item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 0.8rem;
}
.footer-top__item:nth-child(1) p {
  font-size: 0.8rem;
}
.footer-top__item:nth-child(1) p a {
  text-decoration: underline;
  color: #0088CF;
}
.footer-top__item:nth-child(1) > a {
  margin-top: 8px;
  font-weight: 900;
}
.footer-top__item:nth-child(2) a {
  font-size: 0.8rem;
}
.footer-top__item:nth-child(2) p {
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-weight: 700;
}
.footer-top__item:nth-child(3) p {
  font-weight: 700;
}
@media (max-width: 1024px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .footer-top__item {
    width: 100%;
    border-top: 1px solid #0088CF;
    padding-top: 15px;
    text-align: center;
  }
  .footer-top__item:nth-child(3) {
    margin-bottom: 30px;
  }
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}
.footer-middle__socials {
  display: flex;
  column-gap: 10px;
}
.footer-middle__socials a {
  padding: 14px 18px;
  background-color: #F5F5F9;
  border-radius: 5px;
}
.footer-middle p {
  text-decoration: underline;
  font-size: 0.8rem;
}
@media (max-width: 1024px) {
  .footer-middle {
    margin-top: 30px;
    flex-direction: column;
    row-gap: 20px;
  }
  .footer-middle P {
    width: 100%;
    text-align: center;
  }
}

.footer-bottom {
  background-color: #242321;
  font-size: 0.8rem;
}
.footer-bottom > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
}
.footer-bottom > div p {
  color: #FCEC4F;
}
.footer-bottom > div p a {
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .footer-bottom > div {
    flex-direction: column;
    row-gap: 30px;
  }
  .footer-bottom > div p {
    width: 100%;
    text-align: center;
  }
}

.hero {
  padding: 100px 0;
  background: url(/images/hero-car.png) no-repeat 580px 40px, url(/images/hero-bg.png) no-repeat 110% -900%;
}
.hero__title {
  font-weight: 900;
  width: 55%;
}
.hero__title span {
  color: #0088CF;
}
.hero__subtitle {
  margin-top: 19px;
  color: #989898;
  margin-bottom: 72px;
}
.hero__btn {
  padding: 21px 46px;
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
  background-color: #0088CF;
  border-radius: 15px;
  transition: 0.3s;
}
.hero__btn:hover {
  opacity: 0.8;
}
.hero__banner {
  margin-top: 100px;
}
.hero__banner-title {
  font-weight: 900;
  margin-bottom: 10px;
}
.hero__banner-subtitle {
  line-height: 25px;
  width: 60%;
  margin-bottom: 35px;
}
.hero__banner-list {
  display: flex;
  column-gap: 22px;
}
.hero__banner-list > div {
  width: 386px;
  padding: 38px 30px 42px 30px;
  border: 1px solid #E5E5E5;
  text-align: center;
}
.hero__banner-list > div:nth-child(2) {
  background-color: #0088CF;
}
.hero__banner-list > div:nth-child(2) p, .hero__banner-list > div:nth-child(2) h4 {
  color: #fff;
}
.hero__banner-list > div p {
  padding: 10px 0px;
  width: 85%;
  margin: 0 auto;
  line-height: 24px;
}
@media (max-width: 1024px) {
  .hero {
    background: url(/images/hero-car.png) no-repeat 180px 40px;
    background-size: 950px;
  }
  .hero__title {
    width: 80%;
  }
  .hero__banner {
    margin-top: 150px;
  }
  .hero__banner-title {
    text-align: center;
  }
  .hero__banner-subtitle {
    width: 100%;
    text-align: center;
  }
  .hero__banner-list {
    flex-direction: column;
    row-gap: 20px;
  }
  .hero__banner-list > div {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .hero {
    padding: 50px 0;
    background: url(/images/hero-car.png) no-repeat -80px 200px;
    background-size: 650px;
  }
  .hero__title {
    width: 100%;
  }
  .hero__btn {
    margin-top: 280px;
    width: 100%;
    padding: 18px 28px;
    font-size: 0.8rem;
  }
  .hero__banner {
    margin-top: 80px;
  }
}

.convenient {
  padding: 80px 0;
}
.convenient__title {
  font-weight: 900;
  width: 50%;
}
.convenient__title span {
  color: #0088CF;
}
.convenient__box {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding: 15px 63px;
  background-color: #F5F5F9;
  border: 1px solid #0088CF;
  border-radius: 5px;
}
.convenient__box p {
  position: relative;
}
.convenient__box p::before {
  content: "";
  background: url(/images/icons/checked-icon.png) no-repeat;
  width: 25px;
  left: -30px;
  height: 25px;
  position: absolute;
}
.convenient__box p span {
  color: #0088CF;
}
.convenient__list {
  margin-top: 59px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 50px;
}
.convenient__list-item {
  width: 32%;
  padding: 10px;
  position: relative;
}
.convenient__list-item::before {
  content: "";
  left: -45px;
  width: 45px;
  height: 40px;
  position: absolute;
}
.convenient__list-item:nth-child(1)::before {
  background: url(/images/icons/r1.png) no-repeat;
}
.convenient__list-item:nth-child(2)::before {
  background: url(/images/icons/convinien2.png) no-repeat;
}
.convenient__list-item:nth-child(3)::before {
  background: url(/images/icons/convinien3.png) no-repeat;
}
.convenient__list-item:nth-child(4)::before {
  background: url(/images/icons/convinien4.png) no-repeat;
}
.convenient__list-item:nth-child(5)::before {
  background: url(/images/icons/convinien5.png) no-repeat;
}
.convenient__list-item:nth-child(6)::before {
  background: url(/images/icons/convinien6.png) no-repeat;
}
.convenient__list-item p:first-child {
  font-weight: 900;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .convenient {
    padding: 40px 0;
  }
  .convenient__title {
    text-align: center;
    margin: 0 auto;
    width: 70%;
  }
  .convenient__box {
    flex-direction: column;
    width: 100%;
    margin: 35px auto 0;
    row-gap: 25px;
  }
  .convenient__list {
    margin-top: 30px;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .convenient__list-item {
    width: 100%;
  }
}

.convenient.rent-convenient .rent-con-dsc {
  margin-top: 20px;
  width: 65%;
  line-height: 27px;
}
.convenient.rent-convenient .convenient__list {
  margin-top: 59px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 50px;
}
.convenient.rent-convenient .convenient__list .convenient__list-item {
  width: 22%;
  padding: 10px;
  position: relative;
}
@media (max-width: 500px) {
  .convenient.rent-convenient .convenient__list .convenient__list-item {
    width: 90%;
  }
}
.convenient.rent-convenient .convenient__list .convenient__list-item::before {
  content: "";
  left: -45px;
  width: 45px;
  height: 45px;
  position: absolute;
}
.convenient.rent-convenient .convenient__list .convenient__list-item:nth-child(1)::before {
  background: url(/images/icons/r1.png) no-repeat;
}
.convenient.rent-convenient .convenient__list .convenient__list-item:nth-child(2)::before {
  background: url(/images/icons/r2.png) no-repeat;
}
.convenient.rent-convenient .convenient__list .convenient__list-item:nth-child(3)::before {
  background: url(/images/icons/r3.png) no-repeat;
}
.convenient.rent-convenient .convenient__list .convenient__list-item:nth-child(4)::before {
  background: url(/images/icons/r4.png) no-repeat;
}
.convenient.rent-convenient .convenient__list .convenient__list-item:nth-child(5)::before {
  background: url(/images/icons/r5.png) no-repeat;
}
.convenient.rent-convenient .convenient__list .convenient__list-item:nth-child(6)::before {
  background: url(/images/icons/r6.png) no-repeat;
}
.convenient.rent-convenient .convenient__list .convenient__list-item:nth-child(7)::before {
  background: url(/images/icons/r7.png) no-repeat;
}
.convenient.rent-convenient .convenient__list .convenient__list-item:nth-child(8)::before {
  background: url(/images/icons/r8.png) no-repeat;
}
.convenient.rent-convenient .convenient__list .convenient__list-item p:first-child {
  font-weight: 900;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .convenient.rent-convenient {
    padding: 40px 0;
  }
  .convenient.rent-convenient__title {
    text-align: center;
    margin: 0 auto;
    width: 70%;
  }
  .convenient.rent-convenient__box {
    flex-direction: column;
    width: 100%;
    margin: 35px auto 0;
    row-gap: 25px;
  }
  .convenient.rent-convenient__list {
    margin-top: 30px;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .convenient.rent-convenient__list-item {
    width: 100%;
  }
}

.catalog {
  margin-top: 80px;
  padding-bottom: 100px;
}
.catalog .catalog-button {
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 18px 32px;
  background-color: transparent;
  border: 1px solid #0088CF;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.3s;
  margin-top: 55px;
}
.catalog .catalog-button:hover {
  background-color: #0088CF;
  color: #fff;
}
@media (max-width: 500px) {
  .catalog {
    margin-top: 35px;
    padding-bottom: 45px;
  }
  .catalog .catalog-button {
    margin-top: 22px;
    padding: 12px 22px;
    font-size: 0.8rem;
  }
}

.catalog-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}
.catalog-top__title {
  font-weight: 900;
}
.catalog-top__btn {
  padding: 15px 40px;
  background-color: #0088CF;
  border: 1px solid #0088CF;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: 0.3s;
  padding-right: 32px;
  padding-left: 32px;
}
.catalog-top__btn:hover {
  background-color: transparent;
  color: #0088CF;
}
@media (max-width: 1024px) {
  .catalog-top {
    flex-direction: column;
    row-gap: 30px;
  }
  .catalog-top__title {
    text-align: center;
  }
}

.cars-list {
  overflow-x: unset;
  display: flex;
  justify-content: space-between;
}
.cars-list__item {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 0px 0px 5px 5px;
  padding-left: 0 !important;
  width: 31%;
}
.cars-list__item-btn {
  background-color: #0088CF;
  color: #fff;
  font-size: 1.071rem;
  font-weight: 500;
  padding: 23px 50px;
  width: 100%;
  border: 1px solid #0088CF;
  transition: 0.3s;
}
.cars-list__item-btn:hover {
  background-color: transparent;
  color: #0088CF;
}
.cars-list__item-btn:active {
  background-color: #F5F5F9;
  color: #242321;
}
.cars-list__item .uk-panel .car-btn1, .cars-list__item .uk-panel .car-btn2 {
  width: 148px;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  background: rgba(252, 236, 79, 0.77);
  border-radius: 5px;
  font-size: 0.7rem;
  font-weight: 500;
}
.cars-list__item .uk-panel .car-btn2 {
  top: 60px;
}
.cars-list__item .uk-panel .coming {
  width: 148px;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: #0088CF;
  color: #fff;
  border-radius: 5px;
  font-size: 0.7rem;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .cars-list__item {
    width: 49%;
    margin-right: 25px;
  }
  .cars-list__item img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .cars-list__item {
    width: 100%;
    margin-right: 25px;
  }
  .cars-list__item img {
    width: 100%;
  }
}
.cars-list__texts {
  padding: 15px 36px 20px 20px;
}
.cars-list__texts h4 {
  font-weight: 900;
}
.cars-list__texts p {
  margin-bottom: 13px;
  font-size: 0.91rem;
  display: flex;
  justify-content: space-between;
}
.cars-list__texts p span {
  font-weight: 700;
}
.cars-list__texts .run {
  font-size: 1rem;
  color: #0088CF;
  margin-bottom: 16px;
}

.form {
  padding: 80px 0;
  width: 362px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .form {
    padding: 50px 0;
    width: 90%;
  }
}
.form__title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 900;
}
.form__dsc {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 36px;
}
.form form {
  display: flex;
  flex-direction: column;
}
.form form input[type=number] {
  width: 100%;
  margin-bottom: 29px;
  padding: 17px 20px;
  background: rgba(255, 255, 255, 0.62);
  border: 1px solid #E5E5E5;
  border-radius: 5px;
}
.form form input[type=number] ::placeholder {
  color: #686868;
}
.form__btn {
  padding: 15px 40px;
  background-color: #0088CF;
  border: 1px solid #0088CF;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: 0.3s;
  width: 100%;
  text-align: center;
}
.form__btn:hover {
  background-color: transparent;
  color: #0088CF;
}

/*# sourceMappingURL=main.css.map */
