@use "../globals/colors" as *;
@use "../globals/mixin" as *;

.contract {
  margin: 46px 0;
  &__top {
    display: flex;
    justify-content:space-between;
    align-items: center;
    &-btn {
      @include btn;
    }
    div {
      h3 {
        margin-bottom: 17px;
      }
      p {
       line-height: 28px;
      }
    }
  } 
  @include tablet {
    &__top {
      flex-direction: column;
      row-gap: 20px;
      align-items: center;
      div {
        text-align: center;
      }
    }
  }
  &__info {
    margin-top: 45px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    &-first {
      h3 {
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 8px;
      }
    }
    &-second {
      border: 1px solid #0088CF;
      border-radius: 5px;
      padding: 17px 15px 18px 27px;
      background-color: #F5F5F9;
    }
    &-third {
      border-left: 1px solid  #E5E5E5;
      padding-left: 30px;
      p {
        margin-bottom: 12px;
      }
      .qr {
        margin-top: 24px;
        padding: 13px;
        background-color: #E5E5E5;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        a {
          color: $primary-color;
        }
      }
    }
    @include tablet {
      flex-direction: column;
      row-gap: 24px;
      align-items: center;
      &-first,
      &-second,
      &-third {
        text-align: center;
      }
    }
  }
}